.services-container {
  height: auto;
}
.app-row-1 {
  width: 80%;
  height: 40%;
}
.app-row-2 {
  width: 80%;
  height: 40%;
  margin-top: 20px;
}
.app-card-container {
  width: 25%;
  height: 320px;
  border-radius: 8px;
  background-color: #dddddd;
  transition: all 0.3s ease;
}
.app-card-container span {
  text-align: justify;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 500;
  color: blue;
}
.app-card-container p {
  text-align: justify;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
.services-card-container .img-container {
  width: 100%;
  height: 50%;
}
.services-card-container .img-container .card-img {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}
